doctype html
html
  head !{helmet.title.toString()} !{helmet.meta.toString()} !{helmet.link.toString()} !{helmet.style.toString()}
  body
    div#root !{reactDom}
    style#jss-server-side !{css}
    div !{helmet.script.toString()}
    script(src="bundle.js")
